@{
    ViewBag.Title = "About";
}
<h2>Project Fodmap</h2>
<h3>About</h3>

<p>This project was originally created to help me eat safe foods based on what i have at home since i have been diagnosed with IBS</p>
<p>In the future this project might expand so that others can use it too. </p>
<p>I'm thinking i should let everyone have their own version of it with their own meals, note and warnings since everyone with ibs reacts differnetly to different foods</p>
